In [ ]:
!pip install yfinance
!pip install yahoofinancials

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 10.3 MB/s
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.1 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70
Collecting yahoofinancials
  Downloading yahoofinancials-1.6.tar.gz (27 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoofinancials) (2018.9)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-py3-none-any.whl size=15192 sha256=e8e5473456f2a58202abb64db4942b5307838fc1cae00fc25f11090c72198f9f
  Stored in directory: /root/.cache/pip/wheels/4b/63/46/e7110bfee88685fe69e338d1b14d1748921862aa57b6705b60
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [ ]:
#importing 
import time
import datetime
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [ ]:
#CDR
ticker = 'CDR'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/CDR?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date       Open       High        Low      Close  Adj Close  Volume
0    2021-10-04  22.230000  22.530001  22.200001  22.379999  22.249096   40000
1    2021-10-05  22.600000  22.670000  21.900000  22.100000  21.970736   96000
2    2021-10-06  21.650000  21.969999  21.360001  21.629999  21.503483  106100
3    2021-10-07  21.910000  22.450001  21.780001  21.969999  21.841494   60000
4    2021-10-08  21.830000  21.900000  21.150000  21.290001  21.165474   56000
..          ...        ...        ...        ...        ...        ...     ...
123  2022-03-30  27.590000  27.820000  27.500000  27.700001  27.700001   57300
124  2022-03-31  27.610001  28.040001  27.590000  27.639999  27.639999  154300
125  2022-04-01  27.700001  28.030001  27.660000  27.990000  27.990000   72400
126  2022-04-04  27.950001  28.040001  27.770000  27.959999  27.959999   58000
127  2022-04-05  27.920000  28.110001  27.820000  28.000000  28.000000  355600

[128 rows x 7 columns]

In [ ]:
#FHN
ticker = 'FHN'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/FHN?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date       Open       High        Low      Close  Adj Close  \
0    2021-10-04  16.660000  16.990000  16.580000  16.629999  16.375740
1    2021-10-05  16.719999  16.740000  16.420000  16.549999  16.296965
2    2021-10-06  16.430000  16.469999  16.000000  16.240000  15.991703
3    2021-10-07  16.299999  16.650000  16.219999  16.520000  16.267424
4    2021-10-08  16.490000  16.820000  16.440001  16.680000  16.424976
..          ...        ...        ...        ...        ...        ...
123  2022-03-30  23.580000  23.580000  23.469999  23.530001  23.530001
124  2022-03-31  23.500000  23.590000  23.490000  23.490000  23.490000
125  2022-04-01  23.580000  23.590000  23.500000  23.549999  23.549999
126  2022-04-04  23.520000  23.650000  23.520000  23.620001  23.620001
127  2022-04-05  23.600000  23.660000  23.430000  23.450001  23.450001

       Volume
0     4005200
1     6201200
2     4918000
3     4289300
4     3626600
..        ...
123  10023900
124   7374100
125   8062800
126   9057400
127  10231900

[128 rows x 7 columns]

In [ ]:
#STYE
ticker = 'STYE'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/SYTE?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/SYTE?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date  Open  High   Low  Close  Adj Close  Volume
0    2021-10-04  7.10  7.10  7.09   7.10       7.10    1000
1    2021-10-05  7.10  7.10  7.10   7.10       7.10       0
2    2021-10-06  7.10  7.10  7.10   7.10       7.10       0
3    2021-10-07  7.10  7.10  7.10   7.10       7.10     500
4    2021-10-08  7.10  7.10  7.10   7.10       7.10     800
..          ...   ...   ...   ...    ...        ...     ...
123  2022-03-30  7.45  7.45  7.45   7.45       7.45     600
124  2022-03-31  7.45  7.45  7.45   7.45       7.45       0
125  2022-04-01  7.45  7.45  7.45   7.45       7.45       0
126  2022-04-04  7.45  7.45  7.45   7.45       7.45       0
127  2022-04-05  7.45  7.45  7.45   7.45       7.45       0

[128 rows x 7 columns]

In [ ]:
#GDNSF
ticker = 'GDNSF'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/GDNSF?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date   Open   High    Low  Close  Adj Close  Volume
0    2021-10-04  1.500  1.531  1.460  1.480      1.480  177700
1    2021-10-05  1.500  1.600  1.464  1.590      1.590   97100
2    2021-10-06  1.600  1.668  1.540  1.550      1.550   64800
3    2021-10-07  1.576  1.650  1.550  1.630      1.630   85100
4    2021-10-08  1.630  1.650  1.590  1.650      1.650   21500
..          ...    ...    ...    ...    ...        ...     ...
123  2022-03-30  2.056  2.120  2.050  2.099      2.099   38300
124  2022-03-31  2.080  2.095  2.050  2.075      2.075   27200
125  2022-04-01  2.070  2.150  2.040  2.101      2.101   61400
126  2022-04-04  1.980  2.120  1.980  2.100      2.100   53800
127  2022-04-05  2.100  2.101  1.980  1.980      1.980   49200

[128 rows x 7 columns]

In [ ]:
#VOLT
ticker = 'VOLT'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval=1d&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/VOLT?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date  Open  High   Low  Close  Adj Close  Volume
0    2021-10-04  3.50  3.53  3.39   3.43       3.43   90600
1    2021-10-05  3.44  3.56  3.42   3.50       3.50   49600
2    2021-10-06  3.46  3.51  3.32   3.38       3.38   94100
3    2021-10-07  3.36  3.56  3.36   3.50       3.50   37400
4    2021-10-08  3.60  3.65  3.45   3.49       3.49   68300
..          ...   ...   ...   ...    ...        ...     ...
123  2022-03-30  5.98  5.99  5.98   5.99       5.99  157400
124  2022-03-31  5.99  5.99  5.98   5.98       5.98  145900
125  2022-04-01  5.98  5.99  5.97   5.97       5.97  114600
126  2022-04-04  5.97  5.99  5.97   5.99       5.99  215000
127  2022-04-05  5.98  5.99  5.97   5.98       5.98  199700

[128 rows x 7 columns]

In [ ]:
#TLMD
ticker = 'TLMD'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/TLMD?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date  Open    High     Low  Close  Adj Close  Volume
0    2021-10-04  2.20  2.2800  2.0500   2.12       2.12  719638
1    2021-10-05  2.12  2.1299  1.9343   2.00       2.00  725622
2    2021-10-06  2.02  2.0200  1.8700   1.90       1.90  348031
3    2021-10-07  1.91  2.0600  1.9100   2.01       2.01  439349
4    2021-10-08  2.04  2.0400  1.9000   1.93       1.93  328969
..          ...   ...     ...     ...    ...        ...     ...
123  2022-03-30  2.99  2.9900  2.9750   2.98       2.98  251788
124  2022-03-31  2.98  2.9900  2.9700   2.99       2.99  828634
125  2022-04-01  2.98  2.9900  2.9800   2.99       2.99  131530
126  2022-04-04  2.98  3.0000  2.9800   3.00       3.00  280457
127  2022-04-05  3.00  3.0000  2.9900   3.00       3.00  957655

[128 rows x 7 columns]

In [ ]:
#AZPN
ticker = 'AZPN'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/AZPN?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-04  124.790001  125.110001  122.930000  124.820000  124.820000
1    2021-10-05  125.139999  127.730003  124.809998  126.480003  126.480003
2    2021-10-06  126.870003  126.870003  124.029999  125.519997  125.519997
3    2021-10-07  141.589996  143.720001  134.389999  137.639999  137.639999
4    2021-10-08  137.270004  142.199997  137.009995  141.550003  141.550003
..          ...         ...         ...         ...         ...         ...
123  2022-03-30  162.490005  164.539993  161.509995  163.789993  163.789993
124  2022-03-31  164.039993  166.259995  163.529999  165.369995  165.369995
125  2022-04-01  164.630005  167.960007  164.630005  166.960007  166.960007
126  2022-04-04  167.059998  168.289993  165.880005  167.720001  167.720001
127  2022-04-05  168.229996  168.889999  165.630005  166.289993  166.289993

      Volume
0     530600
1     551200
2     256500
3    1948700
4     922200
..       ...
123   398700
124   458700
125   757400
126   486300
127   390800

[128 rows x 7 columns]

In [ ]:
#SEAC
ticker = 'SEAC'
#time from and to
period1 = int(time.mktime(datetime.datetime(2021, 10, 4, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2022, 4, 5, 23, 59).timetuple()))
#1wk = per week, #1d = per day, #1m = per month
interval = '1d'

In [ ]:
#grabing data from the website
query_string = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true"

In [ ]:
#data link
query_string

'https://query1.finance.yahoo.com/v7/finance/download/SEAC?period1=1633391940&period2=1649203140&interval=1d&events=history&includeAdjustedClose=true'

In [ ]:
df = pd.read_csv(query_string)

In [ ]:
# print the data from the link
print(df)

           Date  Open  High   Low  Close  Adj Close   Volume
0    2021-10-04  1.05  1.06  1.03   1.04       1.04   296100
1    2021-10-05  1.05  1.05  1.04   1.05       1.05   153400
2    2021-10-06  1.04  1.05  1.02   1.02       1.02   244400
3    2021-10-07  1.04  1.05  1.02   1.03       1.03   152700
4    2021-10-08  1.03  1.04  1.01   1.01       1.01   257600
..          ...   ...   ...   ...    ...        ...      ...
123  2022-03-30  1.21  1.25  1.17   1.19       1.19  1574600
124  2022-03-31  1.19  1.21  1.13   1.13       1.13  2175200
125  2022-04-01  1.13  1.21  1.09   1.12       1.12  4665700
126  2022-04-04  1.13  1.19  1.13   1.18       1.18  2185700
127  2022-04-05  1.19  1.19  1.12   1.13       1.13  1348400

[128 rows x 7 columns]